/* Text color */
.text-pink-dark {
    color: #f88cb3;
}

/* Dark Button --> Pink button  */
.btn-pink{
    color:#0e131f;
    background-color:#ffc0d1;
    border-color:#111827
}
.btn-check:focus+.btn-dark,
.btn-dark:focus,
.btn-dark:hover {
    color:#0e131f;
    background-color:#f88cb3;
    border-color:#0e131f
}
.btn-check:focus+.btn-dark,.btn-dark:focus {
    box-shadow:0 0 0 .25rem rgba(53,59,71,.5)
}
.btn-check:active+.btn-dark,
.btn-check:checked+.btn-dark,
.btn-dark.active,
.btn-dark:active,
.show>
.btn-dark.dropdown-toggle {
    color:#0e131f;
    background-color:#f88cb3;
    border-color:#0d121d
}
.btn-check:active+.btn-dark:focus,
.btn-check:checked+.btn-dark:focus,
.btn-dark.active:focus,
.btn-dark:active:focus,
.show>
.btn-dark.dropdown-toggle:focus {
    box-shadow:0 0 0 .25rem rgba(53,59,71,.5)
}
.btn-dark.disabled,
.btn-dark:disabled {
    color:#0e131f;
    background-color:#f88cb3;
    border: color #111827;
}

/* Button Outline Dark Button --> Button Outline Pink */
.btn-outline-pink{
    color:#111827;
    border-color:#111827
}
.btn-outline-dark:hover {
    color:#111827;
    background-color:#f88cb3;
    border-color:#111827
}
.btn-check:focus+.btn-outline-dark,
.btn-outline-dark:focus {
    box-shadow:0 0 0 .25rem rgba(17,24,39,.5)
}.btn-check:active+.btn-outline-dark,
.btn-check:checked+.btn-outline-dark,
.btn-outline-dark.active,
.btn-outline-dark
.dropdown-toggle.show,
.btn-outline-dark:active {
    color:#fff;
    background-color:#f88cb3;
    border-color:#111827 
}
.btn-check:active+.btn-outline-dark:focus,
.btn-check:checked+.btn-outline-dark:focus,
.btn-outline-dark.active:focus,
.btn-outline-dark.dropdown-toggle.show:focus,
.btn-outline-dark:active:focus {
    box-shadow:0 0 0 .25rem rgba(17,24,39,.5)
} 
.btn-outline-dark.disabled,.btn-outline-dark:disabled {
    color:#111827;
    background-color:transparent
}

/* Text Pink */
.text-pink {
    color:#f88cb3 !important
}
.text-dark-hover:hover {
    color:#f88cb3 !important
}
.text-dark-focus:focus {
    color:#f88cb3 !important
}
.text-dark-active:active{
    color:#F88Cb3 !important
}

/* Background Pink */
.bg-pink,
.bg-dark-hover:hover {
    background-color:#f88cb3!important
}