<div class="row py-3 py-lg-0 flex-wrap gx-4 gy-6">
    <!-- menu row-->
    <div class="col">
        <h6 class="dropdown-heading">Quiet Ears</h6>
        <ul class="list-unstyled">
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/character-qe.html">Character</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/standard-qe.html">Standard</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Princess</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">HeadBand</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all" href="{{webRoot}}/category.html">View All</a></li>
        </ul>
    </div>
    <!-- / menu row-->

    <!-- menu row-->
    <div class="col">
        <h6 class="dropdown-heading">Crochet</h6>
        <ul class="list-unstyled">
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Hats & Beanies</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Wristlets</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Scrunchies</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Newborn</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Dog Bandanas</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all" href="{{webRoot}}/category.html">View All</a></li>
        </ul>
    </div>
    <!-- / menu row-->

    <!-- menu row-->
    <div class="d-none d-xxl-block col">
        <h6 class="dropdown-heading">Custom</h6>
        <ul class="list-unstyled">
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/all-qe.html">Quiet Ears</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Crochet</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">No Bow Ears</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Headband Ears</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Special Order</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all" href="{{webRoot}}/category.html">View All</a></li>
        </ul>
    </div>
    <!-- / menu row-->  
    
    <!-- menu row-->
    <div class="col">
        <h6 class="dropdown-heading text-pink-dark">Special Offers</h6>
        <ul class="list-unstyled">
            <li class="dropdown-list-item"><a class="dropdown-item text-pink-dark" href="{{webRoot}}/category.html">Insulated Jackets</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item text-pink-dark" href="{{webRoot}}/category.html">Bodywarmers</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item text-pink-dark" href="{{webRoot}}/category.html">Parkas</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item text-pink-dark" href="{{webRoot}}/category.html">Baselayers & Thermals</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item text-pink-dark" href="{{webRoot}}/category.html">Winter Hats</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item text-pink-dark" href="{{webRoot}}/category.html">Scarves & Neck</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item text-pink-dark" href="{{webRoot}}/category.html">Gloves & Mitts</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item text-pink-dark" href="{{webRoot}}/category.html">Accessories</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item text-pink-dark dropdown-link-all" href="{{webRoot}}/category.html">View All</a></li>
        </ul>
    </div>
    <!-- / menu row-->      
</div>

<div class="align-items-center justify-content-between mt-5 d-none d-lg-flex">
    {{#each (limit slideshow-brands.entries 1)}}
    <div>
        <a>
            <picture>
                <img src="{{ img }}" alt="{{ config.defaultImgAlt }}"
                style="height:100px;" style="width:100px;">
            </picture>
        </a>
    </div>
    {{/each}}
</div>